# Data collection
praw
python-dotenv
tqdm
qwlist

# Data
pandas
numpy

# NLP
transformers
torch
spacy==3.8.14
https://github.com/explosion/spacy-models/releases/download/pl_core_news_lg-3.8.0/pl_core_news_lg-3.8.0-py3-none-any.whl
gensim
pyLDAvis

# Visualization / dashboards
streamlit
plotly
pyvis

# Network analysis
networkx

# Notebooks
jupyter
ipywidgets
